-- ========================================
-- 📧 PRUEBA FINAL: Sistema de Emails
-- ========================================
-- Este SQL creará 2 reservas con datos realistas:
-- 1️⃣ Una reserva nueva (deberías recibir email de "Nueva Reserva")
-- 2️⃣ Una reserva que luego cancelaremos (recibirás email de "Cancelación")

-- ========================================
-- 1️⃣ NUEVA RESERVA
-- ========================================
INSERT INTO reservations (
  restaurant_id,
  customer_name,
  customer_email,
  customer_phone,
  reservation_date,
  reservation_time,
  party_size,
  status,
  channel,
  source,
  special_requests
) VALUES (
  'd6b63130-1ebf-4284-98fc-a3b31a85d9d1',
  'María González',
  'maria.gonzalez@example.com',
  '+34 612 345 678',
  CURRENT_DATE + INTERVAL '2 days',
  '21:00',
  4,
  'confirmed',
  'whatsapp',
  'test_sistema_final',
  'Mesa cerca de la ventana, por favor'
);

-- ========================================
-- 2️⃣ RESERVA PARA CANCELAR
-- ========================================
-- Primero creamos la reserva
INSERT INTO reservations (
  restaurant_id,
  customer_name,
  customer_email,
  customer_phone,
  reservation_date,
  reservation_time,
  party_size,
  status,
  channel,
  source
) VALUES (
  'd6b63130-1ebf-4284-98fc-a3b31a85d9d1',
  'Carlos Rodríguez',
  'carlos.rodriguez@example.com',
  '+34 655 987 321',
  CURRENT_DATE + INTERVAL '3 days',
  '20:30',
  2,
  'confirmed',
  'telefono',
  'test_cancelacion_final'
)
RETURNING id;

-- ⚠️ IMPORTANTE: Copia el ID que te devuelve el query anterior
-- y reemplázalo en el siguiente UPDATE:

-- ========================================
-- 3️⃣ CANCELAR LA RESERVA (ejecutar después)
-- ========================================
-- Espera 10 segundos después de crear la reserva anterior
-- y luego ejecuta este UPDATE:

/*
UPDATE reservations 
SET 
  status = 'cancelled',
  cancellation_reason = 'El cliente tuvo un imprevisto',
  updated_at = NOW()
WHERE 
  restaurant_id = 'd6b63130-1ebf-4284-98fc-a3b31a85d9d1'
  AND customer_name = 'Carlos Rodríguez'
  AND status = 'confirmed';
*/
